@model IEnumerable<QuanLyHocSinh.Models.ClassModel>

@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>
<form method="get">
    <table>
            <tr>
                <th style="padding-right: 750px">
                    <p>
                        @Html.ActionLink("Create New Class", "Create")
                    </p>
                </th>
                <th>
                    <input type="text" id="name" name="name" />
                    <button type="submit" value="Index">Search</button>
                </th>
            </tr>
    </table>
</form>
<table class="table table-bordered">
    <tr>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="text-align: center">
            @Html.DisplayFor(modelitem => item.ID)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelitem => item.Name)
        </td>
       
        <td style="text-align: center">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>
        <td style="text-align: center">
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        <td style="text-align: center">
            @Html.ActionLink("Add New Student", "InsertStudent", new { id = item.ID })
        </td>
    </tr>
    }
</table>
